<!DOCTYPE html>
<html lang="en">
<head>
  <title>Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Static Candidate Results</h2>
  <p>Only shows final results.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Post Name</th>
        <th>Candidate Name</th>
        <th>No. of Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SPL_B</td>
        <td>{{SPL_B}}</td>
        <td>{{SPL_B_VOTE}}</td>
      </tr>
      <tr>
        <td>SPL_G</td>
        <td>{{SPL_G}}</td>
        <td>{{SPL_G_VOTE}}</td>
      </tr>
      <tr>
        <td>CS_B</td>
        <td>{{CS_B}}</td>
        <td>{{CS_B_VOTE}}</td>
      </tr>
      <tr>
        <td>CS_G</td>
        <td>{{CS_G}}</td>
        <td>{{CS_G_VOTE}}</td>
      </tr>
      <tr>
        <td>SS_B</td>
        <td>{{SS_B}}</td>
        <td>{{SS_B_VOTE}}</td>
      </tr>
      <tr>
        <td>SS_G</td>
        <td>{{SS_G}}</td>
        <td>{{SS_G_VOTE}}</td>
      </tr>
      <tr>
        <td>ASPL_B</td>
        <td>{{ASPL_B}}</td>
        <td>{{ASPL_B_VOTE}}</td>
      </tr>
      <tr>
        <td>ASPL_G</td>
        <td>{{ASPL_G}}</td>
        <td>{{ASPL_G_VOTE}}</td>
      </tr>
      <tr>
        <td>ACS_B</td>
        <td>{{ACS_B}}</td>
        <td>{{ACS_B_VOTE}}</td>
      </tr>
      <tr>
        <td>ACS_G</td>
        <td>{{ACS_G}}</td>
        <td>{{ACS_G_VOTE}}</td>
      </tr>
      <tr>
        <td>ASS_B</td>
        <td>{{ASS_B}}</td>
        <td>{{ASS_B_VOTE}}</td>
      </tr>
      <tr>
        <td>ASS_G</td>
        <td>{{ASS_G}}</td>
        <td>{{ASS_G_VOTE}}</td>
      </tr>
      <tr>
        <td>IN_PRES</td>
        <td>{{IN_PRES}}</td>
        <td>{{IN_PRES_VOTE}}</td>
      </tr>
      <tr>
        <td>IN_VPRES</td>
        <td>{{IN_VPRES}}</td>
        <td>{{IN_VPRES_VOTE}}</td>
      </tr>
      <tr>
        <td>IN_SEC</td>
        <td>{{IN_SEC}}</td>
        <td>{{IN_SEC_VOTE}}</td>
      </tr>
      <tr>
        <td>IN_TRES</td>
        <td>{{IN_TRES}}</td>
        <td>{{IN_TRES_VOTE}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
