<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Post Info</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>School Pupil Leader Boys Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{SPL_B_0}}</td>
        <td>{{SPL_B_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{SPL_B_1}}</td>
        <td>{{SPL_B_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{SPL_B_2}}</td>
        <td>{{SPL_B_VOTE_2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>School Pupil Leader Girls Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{SPL_G_0}}</td>
        <td>{{SPL_G_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{SPL_G_1}}</td>
        <td>{{SPL_G_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{SPL_G_2}}</td>
        <td>{{SPL_G_VOTE_2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Cultural Secretary Boys Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{CS_B_0}}</td>
        <td>{{CS_B_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{CS_B_1}}</td>
        <td>{{CS_B_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{CS_B_2}}</td>
        <td>{{CS_B_VOTE_2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Cultural Secretary Girls Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{CS_G_0}}</td>
        <td>{{CS_G_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{CS_G_1}}</td>
        <td>{{CS_G_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{CS_G_2}}</td>
        <td>{{CS_G_VOTE_2}}</td>
      </tr>
      <tr>
        <td>{{CS_G_3}}</td>
        <td>{{CS_G_VOTE_3}}</td>
      </tr>
      <tr>
        <td>{{CS_G_4}}</td>
        <td>{{CS_G_VOTE_4}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Sports Secretary Boys Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{SS_B_0}}</td>
        <td>{{SS_B_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{SS_B_1}}</td>
        <td>{{SS_B_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{SS_B_2}}</td>
        <td>{{SS_B_VOTE_2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Sports Secretary Girls Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{SS_G_0}}</td>
        <td>{{SS_G_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{SS_G_1}}</td>
        <td>{{SS_G_VOTE_1}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Assistant School Pupil Leader Boys Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ASPL_B_0}}</td>
        <td>{{ASPL_B_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{ASPL_B_1}}</td>
        <td>{{ASPL_B_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{ASPL_B_2}}</td>
        <td>{{ASPL_B_VOTE_2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Assistant School Pupil Leader Girls Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ASPL_G_0}}</td>
        <td>{{ASPL_G_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{ASPL_G_1}}</td>
        <td>{{ASPL_G_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{ASPL_G_2}}</td>
        <td>{{ASPL_G_VOTE_2}}</td>
      </tr>
      <tr>
        <td>{{ASPL_G_3}}</td>
        <td>{{ASPL_G_VOTE_3}}</td>
      </tr>
      <tr>
        <td>{{ASPL_G_4}}</td>
        <td>{{ASPL_G_VOTE_4}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Assistant Cultural Secretary Boys Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ACS_B_0}}</td>
        <td>{{ACS_B_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{ACS_B_1}}</td>
        <td>{{ACS_B_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{ACS_B_2}}</td>
        <td>{{ACS_B_VOTE_2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Assistant Cultural Secretary Girls Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ACS_G_0}}</td>
        <td>{{ACS_G_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{ACS_G_1}}</td>
        <td>{{ACS_G_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{ACS_G_2}}</td>
        <td>{{ACS_G_VOTE_2}}</td>
      </tr>
      <tr>
        <td>{{ACS_G_3}}</td>
        <td>{{ACS_G_VOTE_3}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <h2>Assistant Sports Secretary Boys Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ASS_B_0}}</td>
        <td>{{ASS_B_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{ASS_B_1}}</td>
        <td>{{ASS_B_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{ASS_B_2}}</td>
        <td>{{ASS_B_VOTE_2}}</td>
      </tr>
      <tr>
        <td>{{ASS_B_3}}</td>
        <td>{{ASS_B_VOTE_3}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Assistant Sports Secretary Girls Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ASS_G_0}}</td>
        <td>{{ASS_G_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{ASS_G_1}}</td>
        <td>{{ASS_G_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{ASS_G_2}}</td>
        <td>{{ASS_G_VOTE_2}}</td>
      </tr>
      <tr>
        <td>{{ASS_G_3}}</td>
        <td>{{ASS_G_VOTE_3}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <h2>Interact Club President Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{IC_P_0}}</td>
        <td>{{IC_P_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{IC_P_1}}</td>
        <td>{{IC_P_VOTE_1}}</td>
      </tr>
      <tr>
        <td>{{IC_P_2}}</td>
        <td>{{IC_P_VOTE_2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Interact Club Vice President Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{IC_VP_0}}</td>
        <td>{{IC_VP_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{IC_VP_1}}</td>
        <td>{{IC_VP_VOTE_1}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <h2>Interact Club Secretary Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{IC_S_0}}</td>
        <td>{{IC_S_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{IC_S_1}}</td>
        <td>{{IC_S_VOTE_1}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Interact Club Treasurer Results</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Votes Secured</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{IC_T_0}}</td>
        <td>{{IC_T_VOTE_0}}</td>
      </tr>
      <tr>
        <td>{{IC_T_1}}</td>
        <td>{{IC_T_VOTE_1}}</td>
      </tr>
    </tbody>
  </table>
</div>


</body>
</html>
