{% extends 'layout_poll.html' %}
{% block content %}
<div class = "container-fluid">
<div class = "flash_msg alert alert-primary" role="alert">
    {%  with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class =flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class = "container">
    <div class="row mx-auto pt-5 d-block">
    <h1 class="text-center text-black" style="font-family: Tahoma"> STUDENT BODY COUNCIL ELECTION: 2019-20 </h1>
    <h1 class="text-center text-black" style="font-family: Tahoma"> Cultural Secretary (Boys) </h1>
    </div>
</div>
 <div class = "formstl ">
    <form method = "POST"  id = "formid"  name = "3rdform" class = "jumbotron ">
        <div class ="row mx-auto ">
    <div class="col-xl-3 mx-auto  mt-4 py-5 d-block"><button name="name1"  class = "btn btn-primary btn-lg" id ="Afzal Hakim" onclick="temp(this);"><label for="name1">Afzal Hakim</label><img class="rounded mx-auto d-block" src="static/img/Candidate/cs_b_afzal.jpg" alt="blue"  height="250" width="200"></button></div>
    <div class="col-xl-3 mx-auto  mt-4 py-5 d-block"><button name="name2"  class = "btn btn-primary btn-lg" id ="Srinidhih" onclick="temp(this);"><label for="name2">Srinidhih</label><img class ="rounded mx-auto d-block" src="static/img/Candidate/cs_b_srinidhi.jpg" alt="blue"  height="250" width="200"></button></div>
    <div class="col-xl-3 mx-auto  mt-4 py-5 d-block"><button name="name3"  class = "btn btn-primary btn-lg" id ="Sai Aditya V" onclick="temp(this);"><label for="name3">Sai Aditya V</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/cs_b_sai.jpg" alt="blue"  height="250" width="200"></button></div>
        </div>
    </form>
 </div>

    <div class="row"><p id ="msg"></p></div>
    <script>
        function temp(val){
                var id = val.id
                document.getElementById("msg").innerHTML = id;
                // console.log(id);
                var con = confirm("Do you wish to select " + val.id);
                        if (con== true){
                            document.getElementById(id).value = id
                            console.log(val.value);

                            document.getElementById("formid").action = "/cs-g";
                        }
                        else{
                            document.getElementById("formid").action = "/cs-b";
                        }
            }
    </script>
</div>
{% endblock content %}
