{% extends 'layout_poll.html' %}
{% block content %}
<div class='jumbo'>
<div class = "container-fluid">
<div class = "flash_msg alert alert-dark" role="alert">
    {%  with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class =flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<!-- <div class = "container">
    <div class="row mx-auto pb-5 d-block">
    <h1 class="text-center text-black" style="font-family: Times New Roman, Times, serif"><B>STUDENT BODY COUNCIL ELECTION: 2019-20</B></h1>
    </div>
</div>
<div class = "container">
    <h1 class="text-center text-black" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><B>Cultural Secretary (Girls)</B></h1>
</div>
 <div class = "formstl ">
    <form method = "POST"  id = "formid"  name = "4thform" class = "jumbotron ">
        <div class ="row mx-auto ">
    <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name1"  class = "btn btn-primary btn-lg" id ="name1" onclick="temp(this);"><label for="name1">Kanimita KS</label><img class="rounded mx-auto d-block" src="static/img/Candidate/sam 2.jpg" alt="blue"  height="250" width="200"></button></div>
    <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name2"  class = "btn btn-primary btn-lg" id ="name2" onclick="temp(this);"><label for="name2">Teena Y</label><img class ="rounded mx-auto d-block" src="static/img/Candidate/tee.jpg" alt="blue"  height="250" width="200"></button></div>
    <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name3"  class = "btn btn-primary btn-lg" id ="name3" onclick="temp(this);"><label for="name3">Manasa V</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/man.jpg" alt="blue"  height="250" width="200"></button></div>
    <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name4"  class = "btn btn-primary btn-lg" id ="name4" onclick="temp(this);"><label for="name4">Praneetha G</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/pra.jpg" alt="blue"  height="250" width="200"></button></div>
    <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name5"  class = "btn btn-primary btn-lg" id ="name5" onclick="temp(this);"><label for="name5">Aishwarya V</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/ais.jpg" alt="blue"  height="250" width="200"></button></div>
        </div>
    </form>
 </div> -->

 <div class = "container">
     <div class="row mx-auto pt-5 d-block">
     <h1 class="text-center text-black" style="font-family: Tahoma"> STUDENT BODY COUNCIL ELECTION: 2019-20 </h1>
     <h1 class="text-center text-black" style="font-family: Tahoma"> Cultural Secretary (Girls) </h1>
     </div>
 </div>
  <div class = "formstl ">
     <form method = "POST"  id = "formid"  name = "4thform" class = "jumbotron ">
         <div class ="row mx-auto ">
     <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name1"  class = "btn btn-primary btn-lg" id ="Kanimita KS" onclick="temp(this);"><label for="name1">Kanimita KS</label><img class="rounded mx-auto d-block" src="static/img/Candidate/cs_g_kanimitha.jpg" alt="blue"  height="250" width="200"></button></div>
     <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name5"  class = "btn btn-primary btn-lg" id ="Aishwarya V" onclick="temp(this);"><label for="name5">Aishwarya V</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/cs_g_aishwarya.jpg" alt="blue"  height="250" width="200"></button></div>
     <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name3"  class = "btn btn-primary btn-lg" id ="Manasa V" onclick="temp(this);"><label for="name3">Manasa V</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/cs_g_manasa.jpg" alt="blue"  height="250" width="200"></button></div>
     <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name4"  class = "btn btn-primary btn-lg" id ="Praneetha G" onclick="temp(this);"><label for="name4">Praneetha G</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/cs_g_praneetha.jpg" alt="blue"  height="250" width="200"></button></div>
     <div class="col-xl-2 mx-auto  mt-4 py-5 d-block"><button name="name2"  class = "btn btn-primary btn-lg" id ="Teena Y" onclick="temp(this);"><label for="name2">Teena Y</label><img class ="rounded mx-auto d-block" src="static/img/Candidate/cs_g_teena.jpg" alt="blue"  height="250" width="200"></button></div>
         </div>
     </form>
  </div>
</div>
    <div class="row"><p id ="msg"></p></div>
    <script>
        function temp(val){
            var id = val.id
            document.getElementById("msg").innerHTML = id;
            var con = alert('You have selected ' + val.id);
                    if (con == true){
                        document.getElementById('formid').action = "/ss-b"
                    }
                    else {
                        document.getElementById('formid').action = "/ss-b"
                    }
        }
    </script>
</div>
{% endblock content %}
