{% extends 'layout_poll.html' %}
{% block content %}
<div class = "container-fluid">
<div class = "flash_msg alert alert-primary" role="alert">
    {%  with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class =flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class = "container">
    <div class="row mx-auto pt-5 d-block">
    <h1 class="text-center text-black" style="font-family: Tahoma"> STUDENT BODY COUNCIL ELECTION: 2019-20 </h1>
    <h1 class="text-center text-black" style="font-family: Tahoma"> School Pupil Leader (Girls) </h1>
    </div>
</div>
 <div class = "formstl ">
    <form method = "POST"  id = "formid"  name = "2ndform" class = "jumbotron ">
        <div class ="row mx-auto ">
    <div class="col-xl-3 mx-auto  mt-4 py-5 d-block"><button name="name1"  class = "btn btn-primary btn-lg" id ="M Sanjana" onclick="temp(this);"><label for="name1">M Sanjana</label><img class="rounded mx-auto d-block" src="static/img/Candidate/spl_g_sanjana.jpg" alt="blue"  height="250" width="200"></button></div>
    <div class="col-xl-3 mx-auto  mt-4 py-5 d-block"><button name="name2"  class = "btn btn-primary btn-lg" id ="MP Parvani" onclick="temp(this);"><label for="name2">MP Parvani</label><img class ="rounded mx-auto d-block" src="static/img/Candidate/spl_g_parvani.jpg" alt="blue"  height="250" width="210"></button></div>
    <div class="col-xl-3 mx-auto  mt-4 py-5 d-block"><button name="name3"  class = "btn btn-primary btn-lg" id ="S Bhavana" onclick="temp(this);"><label for="name3">S Bhavana</label><img class ="rounded mx-auto d-block"src="static/img/Candidate/spl_g_bhavana.jpg" alt="blue"  height="250" width="200"></button></div>
        </div>
    </form>
 </div>

    <div class="row"><p id ="msg"></p></div>
    <script>
        function temp(val){
            var id = val.id
            document.getElementById("msg").innerHTML = id;
            var con = alert('You have selected ' + val.id);
                    if (con == true){
                        document.getElementById('formid').action = "/cs-b"
                    }
                    else {
                        document.getElementById('formid').action = "/cs-b"
                    }
        }
    </script>
</div>
{% endblock content %}
