{% extends "layout_poll.html" %}
{% block content %}
<div class = "flash_msg">
    {%  with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class =flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

 <div class= "text-center pt-5">
     <img src="../static/img/thankyou.png" class="pt-5" alt="Thank You">
 </div>
 <div class = "text-center">
     <form name = "lastpg" method ="GET" id = "thankyou" class="jumbotron">
     <button name="newperson" value="nxt" class = "btn btn-primary btn-lg" id ="endpg" onclick = "endfunc(this);">NEXT</button>
     </form>
</div>

<script>
    function endfunc(clic){
        document.getElementById("thankyou").action="/"
    }
</script>

{% endblock %}
